<table class="MJKAuctionDesignerArtikel">
    <tr>
        <td class="ArtikelName" colspan="2"><BEZEICHNUNG></td>
    </tr>

    <tr>
        <td class="HerstellerLinks">Hersteller</td>
        <td class="HerstellerRechts"><HERSTELLER></td>
    </tr>

    <tr>
        <td class="ZustandLinks">Zustand</td>
        <td class="ZustandRechts"><ZUSTAND></td>
    </tr>

    <tr>
        <td class="ArtikelBeschreibungLinks">Artikelbeschreibung</td>
        <td class="ArtikelBeschreibungRechts"><BESCHREIBUNG></td>
    </tr>

    <tr>
        <td class="LieferumfangLinks">Lieferumfang</td>
        <td class="LieferumfangRechts"><LIEFERUMFANG></td>
    </tr>

    <tr>
        <td class="VersandInformationenLinks">Versandinformationen</td>
        <td class="VersandInformationenRechts"><VERSAND-INFORMATIONEN></td>
    </tr>

    <tr>
        <td class="KaufInformationenLinks">Kaufinformationen</td>
        <td class="KaufInformationenRechts"><KAUF-INFORMATIONEN></td>
    </tr>

    <tr>
        <td class="AnmerkungenLinks">Anmerkungen</td>
        <td class="AnmerkungenRechts"><ANMERKUNGEN></td>
    </tr>
</table>