/MarcelJoachimKloubert.CLRToolbox.20/obj
/MarcelJoachimKloubert.CLRToolbox.20/bin
/MarcelJoachimKloubert.CLRToolbox.30/obj
/MarcelJoachimKloubert.CLRToolbox.30/bin

/MarcelJoachimKloubert.CLRToolbox.35/obj
/MarcelJoachimKloubert.CLRToolbox.35/bin

/MarcelJoachimKloubert.CLRToolbox.40/obj
/MarcelJoachimKloubert.CLRToolbox.40/bin

/MarcelJoachimKloubert.CLRToolbox.45/obj
/MarcelJoachimKloubert.CLRToolbox.45/bin

/*.suo

/MarcelJoachimKloubert.CLRToolbox.WinRT.80/obj
/MarcelJoachimKloubert.CLRToolbox.WinRT.80/bin
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/obj
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/bin

/MarcelJoachimKloubert.CLRToolbox.Portable1/obj
/MarcelJoachimKloubert.CLRToolbox.Portable1/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/*.suo
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/bin

/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/*.user

/MarcelJoachimKloubert.CLRToolbox.451/bin
/MarcelJoachimKloubert.CLRToolbox.451/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.35.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.35.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.40.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.40.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.45.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.45.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.451.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.451.WPF/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/*.suo
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/bin
/MarcelJoachimKloubert.CLRToolbox.XNA/*.suo
/MarcelJoachimKloubert.CLRToolbox.XNA/MarcelJoachimKloubert.CLRToolbox.XNA.40/obj
/MarcelJoachimKloubert.CLRToolbox.XNA/MarcelJoachimKloubert.CLRToolbox.XNA.40/bin

/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1/obj
/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1/bin

/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1Content/bin
/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1Content/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/modules
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.RemoteComm/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.RemoteComm/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.WcfHttp/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.WcfHttp/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Script/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Script/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Funcs.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Funcs.Common/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Torrent/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Torrent/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Serialize/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Serialize/bin
/Projects/build
/Projects/MarcelJoachimKloubert.ApplicationServer/MonoTorrent/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.SystemSqlite/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.SystemSqlite/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/config.ini
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataLayer/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataLayer/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/MarcelJoachimKloubert.ApplicationServer.TestHost.csproj.user
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.AppServerDb/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.AppServerDb/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/Enums/AppServer.xml

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/MarcelJoachimKloubert.ApplicationServer.DataModels.csproj.user
/MarcelJoachimKloubert.CLRToolbox.35/MarcelJoachimKloubert.CLRToolbox.35.csproj.user
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.DocDB/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.DocDB/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Cloud/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Cloud/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Chat/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Chat/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.FileBox/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.FileBox/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/_rootDir/modules/docdb/config.ini
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/App.Config
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.DocDB/App.Config

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/_rootDir/modules/remote_comm/config.ini
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.WinService/config.ini
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.WinService/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.WinService/obj

/Projects/MarcelJoachimKloubert.CryptoCopy/MarcelJoachimKloubert.CryptoCopy/obj
/Projects/MarcelJoachimKloubert.CryptoCopy/MarcelJoachimKloubert.CryptoCopy/bin
/Projects/MarcelJoachimKloubert.CryptoCopy/MarcelJoachimKloubert.CryptoCopy/MarcelJoachimKloubert.CryptoCopy.csproj.user
/Projects/MarcelJoachimKloubert.CryptoCopy/MarcelJoachimKloubert.CryptoCopy.v11.suo
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessListener/AppServerProcessManager.v11.suo
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessListener/AppServerProcessManager/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessListener/AppServerProcessManager/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessListener/AppServerProcessManager/AppServerProcessManager.csproj.user
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessManager/AppServerProcessManager.v11.suo
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessManager/AppServerProcessManager/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/Tools/AppServerProcessManager/AppServerProcessManager/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.RemoteComm/App.Config
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/app.config
/Projects/MarcelJoachimKloubert.GitThemAll/MarcelJoachimKloubert.GitThemAll/obj
/Projects/MarcelJoachimKloubert.GitThemAll/MarcelJoachimKloubert.GitThemAll/bin

/Projects/MarcelJoachimKloubert.GitThemAll/packages
/Projects/MarcelJoachimKloubert.GitThemAll/MarcelJoachimKloubert.GitThemAll.v11.suo

/MarcelJoachimKloubert.CLRToolbox.20.WinForms/obj
/MarcelJoachimKloubert.CLRToolbox.20.WinForms/bin
/MarcelJoachimKloubert.CLRToolbox.35.WinForms/obj
/MarcelJoachimKloubert.CLRToolbox.35.WinForms/bin

/MarcelJoachimKloubert.CLRToolbox.40.WinForms/obj
/MarcelJoachimKloubert.CLRToolbox.40.WinForms/bin
/MarcelJoachimKloubert.CLRToolbox.45.WinForms/obj
/MarcelJoachimKloubert.CLRToolbox.45.WinForms/bin
/Projects/MarcelJoachimKloubert.WpfAuctionDesigner/MarcelJoachimKloubert.WpfAuctionDesigner/obj
/Projects/MarcelJoachimKloubert.WpfAuctionDesigner/MarcelJoachimKloubert.WpfAuctionDesigner/bin
/Projects/MarcelJoachimKloubert.WpfAuctionDesigner/MarcelJoachimKloubert.WpfAuctionDesigner.v11.suo

/Projects/MarcelJoachimKloubert.FileSyncer/packages
/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer.v11.suo

/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer/obj
/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer/bin

/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer/App.config
/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer.WPF/obj
/Projects/MarcelJoachimKloubert.FileSyncer/MarcelJoachimKloubert.FileSyncer.WPF/bin
/Projects/MarcelJoachimKloubert.MusicSorter/MarcelJoachimKloubert.MusicSorter/obj
/Projects/MarcelJoachimKloubert.MusicSorter/MarcelJoachimKloubert.MusicSorter/bin
/Projects/MarcelJoachimKloubert.MusicSorter/MarcelJoachimKloubert.MusicSorter.v11.suo
/MarcelJoachimKloubert.CLRToolbox.20.Web/obj
/MarcelJoachimKloubert.CLRToolbox.20.Web/bin
/MarcelJoachimKloubert.CLRToolbox.35.Web/obj
/MarcelJoachimKloubert.CLRToolbox.35.Web/bin
/MarcelJoachimKloubert.CLRToolbox.40.Web/obj
/MarcelJoachimKloubert.CLRToolbox.40.Web/bin
/MarcelJoachimKloubert.CLRToolbox.45.Web/obj
/MarcelJoachimKloubert.CLRToolbox.45.Web/bin
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/obj
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/bin
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/Web.config
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/Web.Debug.config
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/Web.Release.config
/MarcelJoachimKloubert.CLRToolbox.20.Web/MarcelJoachimKloubert.CLRToolbox.20.Web.csproj.user

/MarcelJoachimKloubert.CLRToolbox.35.Web/MarcelJoachimKloubert.CLRToolbox.35.Web.csproj.user
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin.v11.suo
/Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin.csproj.user

/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/obj
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/bin
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.csproj.user
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/Web.config
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/Web.Debug.config
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/Web.Release.config
/Projects/MarcelJoachimKloubert.MetalVZ/packages
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.v11.suo
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.v11.suo
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.csproj.user
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/Web.config
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/Web.Debug.config
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/Web.Release.config
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/bin
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/obj

/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.FileSync/obj
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.FileSync/bin
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.FileSync/App.config

/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/config.ini
/MarcelJoachimKloubert.CLRToolbox.35.WPF/MarcelJoachimKloubert.CLRToolbox.35.WPF.csproj.user
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.SDK/obj
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.SDK/bin
Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET/users.ini
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.Test/obj
/Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.Test/bin
/Projects/MarcelJoachimKloubert.FileBox/packages
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/obj
/Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox/bin
Projects/MarcelJoachimKloubert.FileBox/MarcelJoachimKloubert.FileBox.v11.suo
Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.FileSync/MarcelJoachimKloubert.CloudNET.FileSync.csproj.user
Projects/MarcelJoachimKloubert.CloudNET/MarcelJoachimKloubert.CloudNET.SDK/MarcelJoachimKloubert.CloudNET.SDK.csproj.user
Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ/config.ini
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.Database/Security
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.Database/bin
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.Database/obj
Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.Database/MarcelJoachimKloubert.MetalVZ.Database.sqlproj.user
Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.Database/MarcelJoachimKloubert.MetalVZ.Database.dbmdl
Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin/config.ini
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.MySqlImport/bin
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.MySqlImport/obj
/Projects/MarcelJoachimKloubert.MetalVZ/MarcelJoachimKloubert.MetalVZ.MySqlImport/config.ini
/Projects/MarcelJoachimKloubert.CryptCommander/MarcelJoachimKloubert.CryptCommander.v11.suo
/Projects/MarcelJoachimKloubert.CryptCommander/MarcelJoachimKloubert.CryptCommander/obj
/Projects/MarcelJoachimKloubert.CryptCommander/MarcelJoachimKloubert.CryptCommander/bin
/Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGit/config.ini
/Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGit/obj
/Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGit/bin
/Projects/MarcelJoachimKloubert.RoboGit/packages
Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGit.v11.suo
/Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGitGui/obj
/Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGitGui/bin
Projects/MarcelJoachimKloubert.RoboGit/MarcelJoachimKloubert.RoboGit.v12.suo
/Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare/obj
/Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare/bin
Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare.csproj.user
Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare.v12.suo
/Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare.WPF/obj
/Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare.WPF/bin
/Projects/MarcelJoachimKloubert.FileCompare/MarcelJoachimKloubert.FileCompare.WPF/config.ini
/Projects/MarcelJoachimKloubert.FileCompare/packages
/Projects/MarcelJoachimKloubert.CryptoDrop/MarcelJoachimKloubert.CryptoDrop/obj
/Projects/MarcelJoachimKloubert.CryptoDrop/MarcelJoachimKloubert.CryptoDrop/bin
Projects/MarcelJoachimKloubert.CryptoDrop/MarcelJoachimKloubert.CryptoDrop.v12.suo
Projects/MarcelJoachimKloubert.CryptoDrop/MarcelJoachimKloubert.CryptoDrop/config.ini
/Projects/MarcelJoachimKloubert.ClrDocToMediaWiki/MarcelJoachimKloubert.ClrDocToMediaWiki/obj
/Projects/MarcelJoachimKloubert.ClrDocToMediaWiki/MarcelJoachimKloubert.ClrDocToMediaWiki/bin
Projects/MarcelJoachimKloubert.ClrDocToMediaWiki/MarcelJoachimKloubert.ClrDocToMediaWiki/config.ini
Projects/MarcelJoachimKloubert.ClrDocToMediaWiki/MarcelJoachimKloubert.ClrDocToMediaWiki.v12.suo
MarcelJoachimKloubert.CLRToolbox.45/MarcelJoachimKloubert.CLRToolbox.45.csproj.user
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch/config.ini
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch/obj
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch/bin
Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch.v12.suo
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch.PlugIns.ConverterPlugIn/obj
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch.PlugIns.ConverterPlugIn/bin
Projects/MarcelJoachimKloubert.ServerAdmin/MarcelJoachimKloubert.ServerAdmin.v12.suo
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono4/bin
MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono.userprefs
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono2/obj
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono2/bin
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono4/obj
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono4/bin
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono2.Web/obj
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono2.Web/bin
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono4.Web/obj
/MarcelJoachimKloubert.CLRToolbox.Mono/MarcelJoachimKloubert.CLRToolbox.Mono4.Web/bin
Projects/MarcelJoachimKloubert.WpfAuctionDesigner/MarcelJoachimKloubert.WpfAuctionDesigner/MarcelJoachimKloubert.WpfAuctionDesigner.csproj.user
Projects/MarcelJoachimKloubert.Sandbox/MarcelJoachimKloubert.Sandbox.v12.suo
/Projects/MarcelJoachimKloubert.Sandbox/MarcelJoachimKloubert.Sandbox/obj
/Projects/MarcelJoachimKloubert.Sandbox/MarcelJoachimKloubert.Sandbox/bin
MarcelJoachimKloubert.CLRToolbox.XNA/MarcelJoachimKloubert.CLRToolbox.XNA.40/MarcelJoachimKloubert.CLRToolbox.XNA.40.csproj.user
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch.PlugIns.ShredderPlugIn/obj
/Projects/MarcelJoachimKloubert.DragNBatch/MarcelJoachimKloubert.DragNBatch.PlugIns.ShredderPlugIn/bin
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net20/obj
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net20/bin
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net35/obj
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net35/bin
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net40/obj
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net40/bin
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net45/obj
/Tests/MarcelJoachimKloubert.CLRToolbox.Tests.Net45/bin