/MarcelJoachimKloubert.CLRToolbox.20/obj
/MarcelJoachimKloubert.CLRToolbox.20/bin
/MarcelJoachimKloubert.CLRToolbox.30/obj
/MarcelJoachimKloubert.CLRToolbox.30/bin

/MarcelJoachimKloubert.CLRToolbox.35/obj
/MarcelJoachimKloubert.CLRToolbox.35/bin

/MarcelJoachimKloubert.CLRToolbox.40/obj
/MarcelJoachimKloubert.CLRToolbox.40/bin

/MarcelJoachimKloubert.CLRToolbox.45/obj
/MarcelJoachimKloubert.CLRToolbox.45/bin

/*.suo

/MarcelJoachimKloubert.CLRToolbox.WinRT.80/obj
/MarcelJoachimKloubert.CLRToolbox.WinRT.80/bin
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/obj
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/bin

/MarcelJoachimKloubert.CLRToolbox.Portable1/obj
/MarcelJoachimKloubert.CLRToolbox.Portable1/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/*.suo
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/bin

/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/*.user

/MarcelJoachimKloubert.CLRToolbox.451/bin
/MarcelJoachimKloubert.CLRToolbox.451/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.35.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.35.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.40.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.40.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.45.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.45.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.451.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.451.WPF/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/bin
