/MarcelJoachimKloubert.CLRToolbox.20/obj
/MarcelJoachimKloubert.CLRToolbox.20/bin
/MarcelJoachimKloubert.CLRToolbox.30/obj
/MarcelJoachimKloubert.CLRToolbox.30/bin

/MarcelJoachimKloubert.CLRToolbox.35/obj
/MarcelJoachimKloubert.CLRToolbox.35/bin

/MarcelJoachimKloubert.CLRToolbox.40/obj
/MarcelJoachimKloubert.CLRToolbox.40/bin

/MarcelJoachimKloubert.CLRToolbox.45/obj
/MarcelJoachimKloubert.CLRToolbox.45/bin

/*.suo

/MarcelJoachimKloubert.CLRToolbox.WinRT.80/obj
/MarcelJoachimKloubert.CLRToolbox.WinRT.80/bin
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/obj
/MarcelJoachimKloubert.CLRToolbox.20.TestConsole/bin

/MarcelJoachimKloubert.CLRToolbox.Portable1/obj
/MarcelJoachimKloubert.CLRToolbox.Portable1/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/*.suo
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.TestExport/bin

/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine/*.user

/MarcelJoachimKloubert.CLRToolbox.451/bin
/MarcelJoachimKloubert.CLRToolbox.451/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.30.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.35.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.35.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.40.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.40.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.45.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.45.WPF/bin
/MarcelJoachimKloubert.CLRToolbox.451.WPF/obj
/MarcelJoachimKloubert.CLRToolbox.451.WPF/bin
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/obj
/Projects/MarcelJoachimKloubert.ScriptEngine/MarcelJoachimKloubert.ScriptEngine.Editor/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/*.suo
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.SDK/bin
/MarcelJoachimKloubert.CLRToolbox.XNA/*.suo
/MarcelJoachimKloubert.CLRToolbox.XNA/MarcelJoachimKloubert.CLRToolbox.XNA.40/obj
/MarcelJoachimKloubert.CLRToolbox.XNA/MarcelJoachimKloubert.CLRToolbox.XNA.40/bin

/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1/obj
/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1/bin

/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1Content/bin
/MarcelJoachimKloubert.CLRToolbox.XNA/TestGame1/TestGame1Content/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/modules
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.RemoteComm/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.RemoteComm/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.WcfHttp/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.WcfHttp/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Web.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Script/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Script/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Funcs.Common/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Funcs.Common/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Torrent/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Torrent/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Serialize/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.Serialize/bin
/Projects/build
/Projects/MarcelJoachimKloubert.ApplicationServer/MonoTorrent/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.SystemSqlite/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.SystemSqlite/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/config.ini
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataLayer/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataLayer/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.TestHost/MarcelJoachimKloubert.ApplicationServer.TestHost.csproj.user
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.AppServerDb/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Services.AppServerDb/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/Enums/AppServer.xml

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.ApplicationServer.DataModels/MarcelJoachimKloubert.ApplicationServer.DataModels.csproj.user
/MarcelJoachimKloubert.CLRToolbox.35/MarcelJoachimKloubert.CLRToolbox.35.csproj.user
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.DocDB/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.DocDB/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Cloud/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Cloud/bin

/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Chat/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.Chat/bin
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.FileBox/obj
/Projects/MarcelJoachimKloubert.ApplicationServer/MarcelJoachimKloubert.AppServer.Modules.FileBox/bin
