
body {
background-color: #000000;
border: 0;
font-family: Arial, Tahoma, Verdana, sans-serif;
font-size: 14pt;
height: 100%;
margin: 0;
max-height: 100%;
overflow: hidden;
padding: 0;
}

#overallContentArea {
background: transparent;
bottom: 33px;
color: white;
font-size: 13pt;
left: 0;
overflow: auto;
padding-bottom: 8px;
padding-top: 8px;
position: fixed;
right: 0;
top: 163px;
z-index: 0;
}

#overallContentArea .twoColumnContent {
width: 100%;
}

#overallContentArea .twoColumnContent .left {
vertical-align: top !important;
width: 300px;
}

#overallContentArea .twoColumnContent .right {
padding-left: 16px;
vertical-align: top !important;
}

#overallFooter {
background-color: #303030;
border-top: 1px solid #d3d3d3;
color: #ffffff;
bottom: 0;
height: 32px;
overflow: hidden;
top: auto;
left: 0;
position: absolute;
width: 100%;
z-index: 1;
}

#overallFooter .left {
float: left;
font-size: 11pt;
font-weight: bold;
margin-left: 4px;
margin-right: 8px;
margin-top: 8px;
}

#overallFooter .right {
float: right;
font-size: 11pt;
font-weight: bold;
margin-right: 8px;
margin-top: 8px;
}

#overallHeader {
background-color: transparent;
color: white;
height: 163px;
left: 0;
position: absolute;
top: 0;
width: 100%;
z-index: 0;
}

#overallHeader .logo {
background-color: #ffffff;
clear: both;
display: block;
height: 128px;
}

#overallHeader .logo .left {
background-repeat: no-repeat;
background-size: 100%;
float: left;
height: 64px;
margin-left: 8px;
margin-top: 30px;
width: 70px;
}

#overallHeader .logo .right {
background-repeat: no-repeat;
float: right;
height: 64px;
margin-right: 4px;
margin-top: 30px;
width: 70px;
}

#overallHeader .menu {
background-color: #a00000;
clear: both;
display: block;
height: 35px;
}

#overallHeader .menu .left {
float: left;
font-size: 11pt;
font-weight: bold;
margin-left: 4px;
margin-right: 8px;
margin-top: 10px;
}

#overallHeader .menu .right {
float: right;
font-size: 11pt;
font-weight: bold;
margin-right: 4px;
margin-top: 10px;
}
